<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <img src="https://firebasestorage.googleapis.com/v0/b/keping-fa855.appspot.com/o/ic_keping_profile_logo_profile%20(1).png?alt=media&token=ce4b4d35-05f4-45fc-84cb-ed0b213205be" style="width:100px;height:100px;" >
    <div class='title'> Welcome to Keping AI Candlestick Graph Pattern Recognition!</div>
    <p>
      Use an image of your favorite crypto from <strong>Binance Advance Trading Mode</strong>
    </p>
    <p>
      Instructions:
    </p>
    <p>
      1a.  For your chart to be analyzed, you will need to make sure that the chart are in <strong>DARK MODE</strong> (black background)
    </p>
    <p>
      1b.  If your chart is not in <strong>DARK MODE</strong> (black background), the pattern recognition will not perform with its 93%~ accuracy.
    </p>
    <p>
      2.  You can click the button below to go straight to Binance Advance Trading Mode that has a dark mode standard background and change to your favorite crypto.
    </p>
    <form action="https://www.binance.com/en/trade/pro/BTC_USDT">
      <input type="submit" value="Go to BTC/USDT Advance Chart!" />
    </form>
    <p>
      3.  Once you are in Binance Advance Trading Mode, you will be directed to Binance advance trading platform and you can screenshot the graph.
    </p>
    <p>
      4a.  For the best result, limit the number of candlestick in the image to roughly 180+ candlesticks. (Right click on graph and select 'Reset Chart' this will automatically fill the graph with 180 candlesticks).
    </p>
    <p>
      4b.  Here is an example of a good screenshot of the graph. Remember it has to be in black background! <strong>(DARK MODE)</strong>
    </p>
    <img src="https://firebasestorage.googleapis.com/v0/b/keping-fa855.appspot.com/o/Screen%20Shot%202019-10-07%20at%208.31.59%20PM.png?alt=media&token=f0d66b40-3f93-4096-861b-5ad019b43542" style="width:700px;height:400px;" alt="Example Graph Image">
    <p>
      5.  Once you have the screenshot, upload the graph image to the button below and see the magic!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
